sudo: false
language: node_js
node_js:
- '0.12'
services:
- postgresql
before_script:
- npm run db:build
before_install:
- openssl aes-256-cbc -K $encrypted_70d385156fee_key -iv $encrypted_70d385156fee_iv
  -in secrets.json.enc -out secrets.json -d
