sudo: false
language: node_js
node_js:
- '4.1'
services:
- postgresql
before_install:
- openssl aes-256-cbc -K $encrypted_70d385156fee_key -iv $encrypted_70d385156fee_iv
  -in src/config/secrets.json.enc -out src/config/secrets.json -d
before_script:
- psql -c 'create database travis;' -U postgres
- npm run build:staging
script:
- npm run test:staging && npm run cover:staging
