{
  "development": {
    "APP_KEYS": ["secret"],
    "DB_USER": "user",
    "DB_PASSWORD": "password"
  },
  "test": {
    "APP_KEYS": ["secret"],
    "DB_USER": "user",
    "DB_PASSWORD": "password"
  },
  "staging": {
    "APP_KEYS": ["secret"],
    "DB_USER": "user",
    "DB_PASSWORD": "password"
  },
  "production": {
    "APP_KEYS": ["secret"],
    "DB_USER": "user",
    "DB_PASSWORD": "password"
  }
}